.horizontal-line::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 20px;
  left: 0;
}

.line-gray::after {
  background-color: #afafaf;
}
.line-white::after {
  background-color: white;
}
