@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/fonts/HelveticaNeueLight.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/fonts/HelveticaNeueBold.otf") format("opentype");
  font-display: swap;
  font-weight: 700;
}
