* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* website container */
.container {
  max-width: 1320px; /* stop container from getting too wide */
  margin-inline: auto; /* centers horizontally */
  padding-inline: 16px; /* left/right padding */
}

.container-fluid {
  width: 100%;
}

body {
  height: 5000px;
}
