@use "../abstracts/index" as abstract;

.room-intelligence {
  @include abstract.flexbox($align: center, $justify: space-between);
  position: relative;

  .video-section {
    width: 100%;
    @include abstract.flexbox($justify: flex-end);
  }

  .intel-section {
    position: absolute;
    width: 410px;
    padding: 40px 60px;
    z-index: 999;
    word-break: keep-all;
    pointer-events: none;
    background-color: #d7d3c7;

    .prometha {
      font-family: "Helvetica Neue Medium", sans-serif;
      color: abstract.$primary-color;
      padding: 22px 0;
    }

    .intel-title {
      width: auto;
      font-family: "Helvetica Neue Bold", sans-serif;
      font-size: 14px;
    }

    .intel-content {
      padding-top: 16px;
      font-family: "Helvetica Neue Regular", sans-serif;
      line-height: 20px;
      letter-spacing: 1.5px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 576px) {
  /* Header style for mobile */
  .container {
    padding-inline: 24px;
  }

  .room-intelligence {
    padding-top: 20px;
    @include abstract.flexbox(
      $direction: column,
      $align: center,
      $justify: space-between
    );

    .intel-section {
      position: relative;
      width: 100%;
      height: auto;
      padding: 10px;

      .intel-title {
        font-size: 12px;
      }
    }

    .video-section {
      video {
        width: 100%;
        text-align: center;
        height: auto;
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    padding-inline: 24px;
  }

  .room-intelligence {
    padding-top: 20px;
    @include abstract.flexbox(
      $direction: column,
      $align: center,
      $justify: space-between
    );

    .intel-section {
      position: relative;
      width: 100%;
      height: auto;
      padding: 10px;

      .intel-title {
        font-size: 12px;
      }
    }

    .video-section {
      video {
        width: 100%;
        text-align: center;
        height: auto;
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding-inline: 32px;
  }

  .room-intelligence {
    padding-top: 20px;
    @include abstract.flexbox(
      $direction: column,
      $align: center,
      $justify: space-between
    );
    height: auto;

    .intel-section {
      position: relative;
      width: 100%;
      height: auto;

      .intel-title {
        font-size: 12px;
      }
    }

    .video-section {
      video {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    padding-inline: 32px;
  }

  .room-intelligence {
    height: auto;
    gap: 10px;

    .video-section {
      flex: 1;

      video {
        width: 100%;
        object-fit: cover;
      }
    }

    .intel-section {
      position: relative;
      min-height: 340px;
      height: auto;
      flex: 1;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 2440px) {
  .container {
    padding-inline: 32px;
  }

  .room-intelligence {
    padding-top: 20px;
    height: auto;

    .video-section {
      width: 100%;

      video {
        width: 65%;
        height: auto;
      }
    }

    .intel-section {
      width: 500px;
      height: auto;
      padding-bottom: 70px;
      background-color: #d7d3c7;
    }
  }
}

@media screen and (min-width: 2441px) and (max-width: 4000px) {
  .intel-section {
    height: auto;
  }
}
