/* Tablet / Small Laptop — 769px to 1200px */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .br-desktop {
    display: inline;
  }

  .hero i {
    font-size: 20px;
  }

  .search-button i {
    font-size: 20px;
  }

  .info {
    padding-top: 20px;
  }

  .adv {
    width: 300px;
    height: auto;
    padding: 20px 17px;
  }

  .sol-item-image img {
    width: 550px;
    height: 250px;
  }

  .room-intelligence {
    padding-top: 20px;
    flex-direction: column;
  }

  .intel-section {
    position: relative !important;
    width: 100% !important;
    max-width: 100% !important;
    left: 0;
  }

  .intel-title {
    font-size: 12px;
  }

  .video-section video {
    width: 100%;
    height: auto;
  }

  .solution-item,
  .solution-item-reverse {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .sol-item-image img {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
  }

  .sol-item-content,
  .sol-item-content-reverse {
    padding: 0 20px;
    text-align: center;
  }

  .horizantal-line {
    margin: 0 auto;
  }

  .news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .new-card {
    width: 100%;

    height: auto;
  }

  .recent-news-header {
    padding-bottom: 20px;
  }

  .news-card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .new-card {
    width: 100% !important;
    height: auto !important;
  }

  .news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .news-card-title {
    padding: 10px 0 10px 0;
  }

  .news-link {
    padding: 10px 0 20px 0;
  }

  .prev,
  .next {
    top: 50%;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .categories-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding-top: 40px;
  }

  .categories-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* Large Screens — 1201px to 2440px */
@media screen and (min-width: 1201px) and (max-width: 2440px) {
  .container {
    padding-inline: 32px;
  }

  .learn-more-btn a {
    font-size: 12px;
  }

  .br-desktop {
    display: block;
  }

  .room-intelligence {
    padding-top: 20px;
  }

  .video-section {
    width: 100% !important;
  }

  .video-section video {
    width: 66% !important;
    height: auto !important;
  }

  .intel-section {
    position: absolute !important;
    width: 500px !important;
    height: 340px !important;
    background-color: var(--supplementary-bg-color-without-opacity);
    margin-top: 20px;
  }

  .adv {
    width: 250px;
    height: 199px;
    padding: 20px 17px;
  }

  .prev,
  .next {
    top: 40%;
  }

  .prev {
    left: 1%;
  }

  .next {
    right: 1%;
  }

  .pro-prev {
    left: 0;
  }

  .pro-next {
    right: 0;
  }

  .news-card-image img {
    width: 100%;
    object-fit: cover;
  }

  .new-card {
    padding-bottom: 60px;
    width: 100% !important;
    height: auto !important;
  }

  .news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
}

@media screen and (min-width: 2441px) and (max-width: 4000px) {
  .intel-section {
    position: absolute !important;
    width: 500px !important;
    height: 340px !important;
    background-color: var(--supplementary-bg-color-without-opacity);
    margin-top: 20px;
  }

  .prev,
  .next {
    top: 100%;
  }

  .prev {
    left: 40%;
  }

  .next {
    right: 40%;
  }
}
