/* Tablet / Small Laptop — 769px to 1200px */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    padding-inline: 32px;
  }

  .announcement-bar {
    height: 50px;
    text-align: center;
  }
  .announcement-bar p {
    line-height: 25px;
  }

  .secondary-list,
  .search-button button {
    display: none;
  }

  .content .container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .xngage-logo {
    padding-right: 0;
    width: auto;
    height: auto;
  }

  .menu-button {
    display: block;
    font-size: 20px;
  }

  .search-button {
    padding-left: 0;
  }

  .learn-more-btn a {
    font-size: 12px;
    padding: 12px 55px;
  }

  .navigation-section {
    position: fixed;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100%;
    background: white;
    z-index: 2000;
  }

  .navigation-section ul {
    flex-direction: column;
    line-height: 50px;
  }

  .navigation-section a {
    border-bottom: 3px solid var(--supplementary-bg-color);
    text-transform: uppercase;
    font-size: 12px;
  }

  #menu-toggle:checked ~ .navigation-section {
    left: 0;
  }

  .colse-menu {
    height: 50px;
    border-bottom: 2px solid var(--border-bottom-color);
  }

  .secondary-list-for-mobile {
    display: block !important;
  }

  .br-desktop {
    display: inline;
  }

  .info {
    padding-top: 20px;
  }

  .adv {
    width: 300px;
    height: auto;
    padding: 20px 17px;
  }

  .sol-item-image img {
    width: 550px;
    height: 250px;
  }

  .room-intelligence {
    padding-top: 20px;
    flex-direction: column;
  }

  .intel-section {
    position: relative !important;
    width: 100% !important;
    max-width: 100% !important;
    left: 0;
  }

  .intel-title {
    font-size: 12px;
  }

  .video-section video {
    width: 100%;
    height: auto;
  }

  .solution-item,
  .solution-item-reverse {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .sol-item-image img {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
  }

  .sol-item-content,
  .sol-item-content-reverse {
    padding: 0 20px;
    text-align: center;
  }

  .horizantal-line {
    margin: 0 auto;
  }

  .news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .new-card {
    width: 100%;

    height: auto;
  }

  .recent-news-header {
    padding-bottom: 20px;
  }

  .news-card-image img {
    width: 100%;
  }

  .news-card-title {
    padding: 10px 0 10px 0;
  }

  .news-link {
    padding-top: 10px;
  }

  .prev,
  .next {
    top: 50%;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}

/* Large Screens — 1201px to 2440px */
@media screen and (min-width: 1201px) and (max-width: 2440px) {
  .container {
    padding-inline: 32px;
  }

  .secondary-list .find-rep {
    padding-right: 36px;
  }

  .learn-more-btn a {
    font-size: 12px;
  }

  .br-desktop {
    display: block;
  }

  .room-intelligence {
    padding-top: 20px;
  }

  .video-section {
    width: 100% !important;
  }

  .video-section video {
    width: 66% !important;
    height: auto !important;
  }

  .intel-section {
    position: absolute !important;
    width: 500px !important;
    height: 340px !important;
    background-color: var(--supplementary-bg-color-without-opacity);
    margin-top: 20px;
  }

  .adv {
    width: 250px;
    height: 199px;
    padding: 20px 17px;
  }

  .prev,
  .next {
    top: 40%;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}

@media screen and (min-width: 2441px) and (max-width: 4000px) {
  .intel-section {
    position: absolute !important;
    width: 500px !important;
    height: 340px !important;
    background-color: var(--supplementary-bg-color-without-opacity);
    margin-top: 20px;
  }

  .prev,
  .next {
    top: 100%;
  }

  .prev {
    left: 40%;
  }

  .next {
    right: 40%;
  }
}
