@media screen and (max-width: 576px) {
  /* Header style for mobile */
  .container {
    padding-inline: 24px;
  }
  /* announcement bar style */
  .announcement-bar {
    height: auto;
  }

  .announcement-bar p {
    line-height: 25px;
    text-align: center;
  }

  /* top bar style */
  .secondary-list {
    display: none;
  }

  .search-button button {
    display: none;
  }

  .content .container {
    display: flex;
    justify-content: space-between;
  }

  .xngage-logo {
    padding-right: 0;
  }

  .xngage-logo a svg {
    max-width: 140px;
  }

  .menu-button {
    display: block;
    background-color: #aa272f;
    z-index: 1000;
  }

  .search-button {
    padding-left: 0;
  }

  .learn-more-btn a {
    letter-spacing: 1.5px;
    text-align: center;
    padding: 12px 28px;
  }

  .navigation-section {
    position: fixed;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100%;
    background: white;
    z-index: 999;
  }

  .navigation-section ul {
    display: flex;
    flex-direction: column;
    line-height: 50px;
  }

  .navigation-section a {
    position: relative;
    display: block;
    border-bottom: 3px solid var(--supplementary-bg-color);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color, #003150);
    font-family: "Helvetica Neue Medium", Arial, Sans-Serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding-inline: 10px;
  }

  #menu-toggle:checked ~ .navigation-section {
    left: 0;
  }

  .colse-menu {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid var(--border-bottom-color, #aa272f);
    padding-inline: 10px;
  }

  .colse-menu i {
    font-size: 15px;
    color: var(--primary-color, #003150);
  }

  .search-button i {
    font-size: 20px;
    color: var(--primary-color, #003150);
  }

  .secondary-list-for-mobile {
    display: block !important;
  }

  .secondary-list-for-mobile a {
    border: none !important;
    text-transform: capitalize !important;
    font-family: "Helvetica Neue Medium", Arial, Sans-Serif;
    font-weight: normal;
  }
  .who-we-are {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    padding-top: 30px;
    height: auto;
  }

  .text {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .vertical-line {
    height: 0;
    border-left: 0;
    width: 70%;
    text-align: center;
    border-bottom: 2px solid var(--supplementary-bg-color-without-opacity);
  }

  .info {
    width: 100%;
    padding: 20px 0;
    display: inline-block;
  }

  .adv {
    width: 100%;
    height: auto;
  }

  .room-intelligence {
    padding-top: 30px;
    flex-direction: column;
  }

  .intel-section {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
  }

  .intel-title {
    font-size: 12px;
  }

  .video-section video {
    width: 100%;
    text-align: center;
    height: auto;
  }
}
