/* Header style for tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    padding-inline: 24px;
  }

  .product-sec {
    padding-top: 60px;
  }

  .featured-categories-title {
    font-size: 20px;
  }

  .category-item-img {
    height: 200px;
    width: 150px;
  }

  .categories-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 10px;
  }
}
