/* Header style for tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    padding-inline: 24px;
  }

  .br-desktop {
    display: inline;
  }

  .learn-more-btn a {
    letter-spacing: 1.5px;
    text-align: center;
    padding: 12px 55px;
  }

  .who-we-are {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    padding-top: 20px;
    height: auto;
  }

  .text {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .vertical-line {
    height: 0;
    border-left: 0;
    width: 70%;
    text-align: center;
    border-bottom: 2px solid var(--supplementary-bg-color-without-opacity);
  }

  .info {
    width: 100%;
    padding: 20px 0;
    display: inline-block;
  }

  .adv {
    width: 100%;
    height: auto;
  }

  .room-intelligence {
    padding-top: 30px;
    flex-direction: column;
  }

  .intel-section {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
  }

  .intel-title {
    font-size: 12px;
  }

  .video-section video {
    width: 100%;
    text-align: center;
    height: auto;
  }

  .solution-item,
  .solution-item-reverse {
    flex-direction: column;
    gap: 20px;
  }

  .sol-item-content h3,
  .sol-item-content-reverse h3 {
    font-size: 30px;
  }

  .sol-item-image img {
    width: 100%;
    height: auto;
  }

  .sol-item-content,
  .sol-item-content-reverse {
    padding: 0;
    text-align: left;
  }

  .cta {
    padding-top: 10px;
    font-size: 12px;
  }

  .news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .new-card {
    width: 100%;
    height: auto;
  }

  .recent-news-header {
    padding-bottom: 20px;
  }

  .recent-news-header a {
    text-align: left;
    padding-top: 10px;
    font-size: 12px;
  }

  .news-card-image img {
    width: 100%;
  }

  .news-card-title {
    padding: 10px 0 10px 0;
  }

  .news-link {
    padding: 10px 0 20px 0;
  }

  .prev,
  .next {
    top: 100%;
  }

  .prev {
    left: 42%;
  }

  .next {
    right: 42%;
  }

  .product-sec {
    padding-top: 60px;
  }

  .featured-categories-title {
    font-size: 20px;
  }

  .category-item-img {
    height: 200px;
    width: 150px;
  }

  .categories-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 10px;
  }
}
