* {
  padding: 0;
  margin: 0;
}

/* Start announcement bar style */
.announcement-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #d7d3c780; /* 80 is the hex equivalent of 50% opacity */
  color: #1f1f1f;
}

a.announcement-link {
  text-decoration: none;
  font-weight: bold;
  color: #1f1f1f;
}
/* End announcement bar style */

/* Start header style */
/* top bar style */
.header-top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.header-top-bar a {
  text-decoration: none;
  color: #003150;
  padding-right: 40px;
  font-size: 16px;
}

/* nav bar style */
.header-nav-bar {
  box-shadow: 0 -3px 10px #00315040; /* 40 is the hex equivalent of 25% opacity (0.25 * 255)*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-nav-bar .xngage-logo {
  width: 200px;
  padding-left: 100px;
}

.xngage-logo .x-left {
  fill: #e98300;
}

.nav-bar ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
}

.nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #003150;
  font-family: "Helvetica Neue", Arial, Sans-Serif; /* check */
  font-size: 16px;
}

/* End header style */
