:root {
  --announcement-text-color: #1f1f1f;
  --supplementary-bg-color: #d7d3c780; /* 80 is the hex equivalent of 50% opacity*/
  --primary-color: #003150;
  --primary-color-with-opacity: #00315040; /* 40 is the hex equivalent of 25% opacity (0.25 * 255)*/
  --logo-bg-color: #e98300;
  --border-bottom-color: #aa272f;
}

@font-face {
  font-family: "Helvetica Neue Regular";
  src: url("../../Assets/Fonts/HelveticaNeueLight.otf") format("opentype");
  font-display: wrap;
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("../../Assets/Fonts/HelveticaNeueMedium.otf") format("opentype");
  font-display: wrap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* website container */
.container {
  max-width: 1200px; /* stop container from getting too wide */
  margin-inline: auto; /* centers horizontally */
  padding-inline: 16px; /* left/right padding */
}

.container-fluid {
  width: 100%;
}

/* Start announcement bar style */
.announcement-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: var(--supplementary-bg-color, #d7d3c780);
  color: var(--announcement-text-color, #1f1f1f);
}

.announcement-bar p {
  font-family: "Helvetica Neue Regular", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}

a.announcement-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--announcement-text-color, #1f1f1f);
}
/* End announcement bar style */

/* Start header style */

.menu-icon,
.search-tab {
  display: none;
  color: var(--primary-color, #003150);
}

/* top bar style */
.header-top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 110px;
  height: 40px;
}

.header-top-bar a {
  text-decoration: none;
  color: var(--primary-color, #003150);
  font-family: "Helvetica Neue Medium", sans-serif;
  font-size: 15px;
}

.header-top-bar .find-rep {
  padding-right: 30px;
}

.header-top-bar a > i {
  color: var(--primary-color, #003150);
}

/* nav bar style */
.header-nav-bar {
  box-shadow: 0 -1px 10px var(--primary-color-with-opacity, #00315040);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
  border-bottom: 4px solid var(--border-bottom-color, #aa272f);
}

.xngage-logo {
  max-width: 200px;
}

.xngage-logo svg {
  width: 100%;
  height: auto;
}

/* .header-nav-bar .xngage-logo svg {
  width: 200px;
} */

.xngage-logo .x-left,
.x-middle {
  fill: var(--logo-bg-color, #e98300);
}

.nav-bar ul li {
  display: inline;
  list-style-type: none;
  padding-right: 28px;
}

.nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color, #003150);
  font-family: "Helvetica Neue Medium", Arial, Sans-Serif;
  font-size: 16px;
  letter-spacing: 1px;
}

/* End header style */

/* Header style for mobile */

@media screen and (max-width: 576px) {
  .container {
    padding-inline: 24px;
  }
  /* announcement bar style */
  .announcement-bar {
    height: auto;
  }

  .announcement-bar p {
    line-height: 25px;
    text-align: center;
  }

  /* top bar style */
  .header-top-bar,
  .navigation-section {
    display: none;
  }

  .menu-icon,
  .search-tab {
    display: block;
    padding-inline: 16px;
  }
}

/* Header style for tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    padding-inline: 24px;
  }
  /* announcement bar style */
  .announcement-bar {
    height: auto;
  }

  .announcement-bar p {
    line-height: 25px;
    text-align: center;
  }
  /* top bar style */
  .header-top-bar,
  .navigation-section {
    display: none;
  }

  .menu-icon,
  .search-tab {
    display: block;
    padding-inline: 16px;
  }
}

/* Header style for tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding-inline: 32px;
  }
  /* announcement bar style */
  .announcement-bar {
    height: 50px;
    text-align: center;
  }

  /* top bar style */
  .header-top-bar {
    justify-content: center;
    margin: 0;
  }

  .menu-icon,
  .search-tab {
    display: none;
  }

  .header-nav-bar {
    flex-wrap: wrap;
  }

  .nav-bar ul li {
    padding-right: 20px;
  }

  .nav-bar a {
    font-size: 12px;
  }
}
