/* .who-we-are {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  position: relative;
}

.title {
  padding-right: 40px;
  white-space: nowrap;
  font-family: "Helvetica Neue Medium", Arial, sans-serif;
}

.br-desktop {
  display: block;
}

.info {
  line-height: 20px;
  flex: 1;
  position: relative;
  padding: 10px 10px 10px 40px;
  display: flex;
  align-items: center;
}

.info p {
  letter-spacing: 1px;
  font-family: "Helvetica Neue Regular", Arial, sans-serif;
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--supplementary-bg-color-without-opacity);
}

.adv {
  background-color: var(--red-color-with-opacity);
  color: var(--white-color);
  letter-spacing: 1px;
  width: 250px;
  position: relative;
  top: -40px;
  line-height: 23px;
  height: auto;
  padding: 22px 30px 22px 30px;

}

.adv::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  background-image: url("../../assets/image/two-hands--removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  pointer-events: none;
}

.adv p {
  padding-bottom: 10px;
  font-family: "Helvetica Neue Regular", Arial, sans-serif;
  font-size: 15px;
}

.adv a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 12px;
  font-family: "Helvetica Neue Regular", Arial, sans-serif;
}

.adv i {
  color: var(--white-color);
}

@media screen and (max-width: 576px) {
  .container {
    padding-inline: 24px;
  }

  .br-desktop {
    display: inline;
  }

  .who-we-are {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  .info::before {
    display: none;
  }

  .info {
    padding: 20px 0 20px 0;
  }

  .adv {
    width: 100%;
    position: relative;
    top: -0;
    background-position: bottom right;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    padding-inline: 24px;
  }

  .br-desktop {
    display: inline;
  }

  .who-we-are {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  .info::before {
    display: none;
  }

  .info {
    padding: 20px 0 20px 0;
  }

  .adv {
    width: 100%;
    position: relative;
    top: -0;
    background-position: top right;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding-inline: 32px;
  }

  .br-desktop {
    display: inline;
  }

  .who-we-are {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  .info::before {
    display: none;
  }

  .info {
    padding: 20px 0 20px 0;
  }

  .adv {
    width: 100%;
    position: relative;
    top: -0;
    background-position: top right;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1236px) {
  .container {
    padding-inline: 32px;
  }

  .br-desktop {
    display: inline;
  }
} */
