/* Start announcement bar style */
.announcement-bar {
  text-align: center;
  padding: 20px 0;
  background-color: var(--supplementary-bg-color, #d7d3c780);
  color: var(--announcement-text-color, #1f1f1f);
}

.announcement-bar p {
  font-size: 15px;
  letter-spacing: 0.2px;
}

a.announcement-link {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--announcement-text-color, #1f1f1f);
}
/* End announcement bar style */

/* Start header style */
.menu-button {
  display: none;
  color: var(--primary-color, #003150);
}

/* top bar style */
.secondary-list > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.secondary-list ul li {
  list-style-type: none;
  display: inline;
}

.secondary-list a {
  text-decoration: none;
  color: var(--primary-color, #003150);
  font-weight: bold;
  font-size: 15px;
}

.secondary-list .find-rep {
  padding-right: 23px;
}

.secondary-list a > i {
  color: var(--primary-color, #003150);
}

/* nav bar style */
.content {
  box-shadow: 0 -1px 10px var(--primary-color-with-opacity, #00315040);
  height: auto;
  border-bottom: 4px solid var(--border-bottom-color, #aa272f);
}

.content > div {
  display: flex;
  height: 80px;
  align-items: center;
}

.logo {
  width: 250px;
  height: 38px;
  padding-right: 50px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* .a {
  fill: #5b6770;
}

.logo .x-left,
.x-middle {
  fill: var(--logo-bg-color, #e98300);
} */

.main-menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.main-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color, #003150);
  font-weight: 700;
  font-size: clamp(12px, 1.2vw, 16px);
  letter-spacing: 0.8px;
  white-space: nowrap;
}

.search-button {
  display: flex;
  padding-left: 40px;
}

.search-button button {
  text-transform: uppercase;
  color: var(--primary-color, #003150);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.8px;
  padding-right: 2px;
}

.search-form form {
  display: none;
  width: 70%;
  padding-top: 24px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 6px;
  margin-right: 10px;
  font-size: 17px;
  border-radius: 4px;
  border-color: #003150;
  height: 40px;
}

.colse-menu {
  display: none;
}

.close-btn i {
  color: #003150;
}

.search-form form {
  display: none;
}

.search-submit {
  display: none;
}

.close-btn {
  display: none;
  padding: 24px 0 0 20px;
  cursor: pointer;
}

.search-button i {
  color: #003150;
}

.search-active .search-form form {
  display: block;
}

.search-active .search-btn {
  display: none;
}

.search-active .search-submit {
  display: block;
  padding: 10px 20px;
  border: 1px solid #003150;
  border-radius: 5px;
}

.search-active .close-btn {
  display: block;
}

.search-active .search-button i {
  display: none;
}

.secondary-list-for-mobile {
  display: none;
}

/* End header style */
