@media screen and (max-width: 576px) {
  /* Header style for mobile */
  .container {
    padding-inline: 24px;
  }
  /* announcement bar style */
  .announcement-bar {
    padding: 20px 0;
  }

  .announcement-bar p {
    line-height: 25px;
    text-align: center;
  }

  /* top bar style */
  .secondary-list {
    display: none;
  }

  .search-button button {
    display: none;
  }

  .content > div {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding-right: 0;
    text-align: center;
    width: 160px;
    height: auto;
  }

  .menu-button {
    font-size: 20px;
    display: block;
  }

  .search-button {
    padding-left: 0;
  }

  .learn-more-btn a {
    letter-spacing: 1.5px;
    text-align: center;
    padding: 12px 28px;
  }

  .main-menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 38%;
    height: 100%;
    background: white;
    z-index: 999;
  }

  .main-menu ul {
    display: flex;
    flex-direction: column;
    line-height: 50px;
  }

  .main-menu a {
    position: relative;
    display: block;
    border-bottom: 3px solid var(--supplementary-bg-color);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color, #003150);
    font-family: "Helvetica Neue Medium", Arial, Sans-Serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding-inline: 10px;
  }

  #menu-toggle:checked ~ .main-menu {
    left: 0;
  }

  .colse-menu {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid var(--border-bottom-color, #aa272f);
    padding-inline: 10px;
  }

  .colse-menu i {
    font-size: 15px;
    color: var(--primary-color, #003150);
  }

  .search-button i {
    font-size: 20px;
    color: var(--primary-color, #003150);
  }

  .secondary-list-for-mobile {
    display: block !important;
  }

  .secondary-list-for-mobile a {
    border: none !important;
    text-transform: capitalize !important;
    font-family: "Helvetica Neue Medium", Arial, Sans-Serif;
    font-weight: normal;
  }

  .news-card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .new-card {
    width: 100% !important;
    height: auto !important;
  }

  .news-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
